
.container img{
    width:100%;
    border: 1px;
    border-radius: 10px;
    
}
.container{
    background-image: linear-gradient(90deg,rgb(8, 88, 75),gray);
    color:white;
}
.team-badge img{
    width: 20%;
    display: flex;
    margin:auto;
}
.team-detail{
    border:1px solid blue;
    box-shadow: 5px 5px 5px;
    border-radius:10px;
    padding:15px;
    margin:5px; 
    display:flex;
    background-image: linear-gradient(45deg, rgb(129, 129, 180) ,rgb(109, 56, 56));
}
.team-data{
    width: 50%;
}
.team-data img{
    width: 3%;
}
.teamDetail-banner img{
    width: 100%;
    margin:auto;
}
.teamDetail-banner{
    width: 50%;
}
.team-description{
    margin: 10px;
    border:1px solid blue;
    box-shadow: 5px 5px 5px;
    border-radius:15px;
    padding: 10px;

}
.media img{
    width:15%;
    margin: auto;
    margin-left: 250px;

}